<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%= htmlWebpackPlugin.options.title %></title>

	<!-- Note: this stylesheet will change without warning. Consider using your own copy -->
	<link rel="stylesheet" href="https://web.renewedtab.com/main.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="icon.svg">
</head>
<body class="widget">
	<div id="app" class="widget-inner"></div>
	<noscript>
		You need to enable JavaScript for this app to work.
	</noscript>
</body>
</html>
